<p id="notice"><%= notice %></p>

<div style="color: blue;">DETTA ÄR artists/index.html.erb</div>

<%= link_to "+ add artist", new_artist_path, class: "add-artist" %>

<table>
  <thead>
    <tr>
      <th>artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td>
          <%= link_to artist.name, edit_artist_path(artist),
              class: "artist-link" %>
        </td>
        <td>
          <%= link_to "unfollow", artist, method: :delete,
              class: "link-gray"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
